<h1>Bookmarks#new</h1>
<p>Find me in app/views/bookmarks/new.html.erb</p>
<div class="container mt-4">
  <div class="row">
    <div class="col-6 m-auto">
      <div class="bookmark-form">
        <h1>Add a new bookmark</h1>
        <div class="mt-3">
          <%= render "form", bookmark: @bookmark %>
        </div>
      </div>
    </div>
  </div>
</div>
